Source: guvcview
Section: graphics
Priority: extra
Maintainer: Paulo Assis <pj.assis@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, quilt, libsdl1.2-dev, libgtk2.0-dev, portaudio19-dev, libpng12-dev, libavcodec-dev, libv4l-dev, libudev-dev
Standards-Version: 3.9.1
Homepage: http://guvcview.berlios.de/

Package: guvcview
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libavcodec-extra-52, uvcdynctrl
Description: GTK UVC Viewer 
 Video capture tool for video4linux2 compliant cameras, with special emphasis on the linux uvc driver.
 It provides Image (jpg, png, bmp) and Video (mjpeg, flv1, wmv1, mpg2, mpg4,...) capture with sound
 in several formats( currently: avi and matroska).
 I also supports a control only option (--control_only) that is compatible with any other v4l2 app.
 
