Source: guvcview
Section: graphics
Priority: extra
Maintainer: Paulo Assis <pj.assis@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, cdbs, dpatch, libsdl1.2-dev, libgtk2.0-dev, portaudio19-dev, libpng12-dev, libtwolame-dev
Standards-Version: 3.8.0
Homepage: http://guvcview.berlios.de/

Package: guvcview
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK UVC Viewer 
 Video capture tool for video4linux2 compliant cameras, with special emphasis on the linux uvc driver.
