#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/dpatch.mk
include /usr/share/dpatch/dpatch.make

DEB_CONFIGURE_USER_FLAGS= --prefix=/usr --datadir=\$${prefix}/share --docdir=\$${prefix}/share/doc

install/guvcview::
	rm -rf debian/guvcview/usr/share/doc/guvcview/NEWS \
		debian/guvcview/usr/share/doc/guvcview/COPYING \
		debian/guvcview/usr/share/doc/guvcview/INSTALL

	rm -rf debian/guvcview/usr/share/doc/guvcview/NEWS.gz \
		debian/guvcview/usr/share/doc/guvcview/COPYING.gz \
		debian/guvcview/usr/share/doc/guvcview/INSTALL.gz

clean::
	rm -rf pixmaps/Makefile
	rm -rf pixmaps/guvcview.desktop_
	rm -rf pixmaps/guvcview.menu
